html,
body {
    height: 100%;
}

body {
    background-image: url(../images/oriental.png);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.brand-logo {
    margin-left: 20px;
}

#mainContent {
    margin-top: 20px;
    background-color: white;
    padding: 35px;
}
 
.divider {
    margin-bottom: 20px;
    
}

p {
    line-height: 3em;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1em;
}

h1 {
    font-weight: bold;
    color: #4aaaa5;
    font-size: 3em;
}

/* Title Font goes here */
h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}


/* Portfolio boxes */

.portfolio {
    position: relative;
    border: 2px solid black;
}

.textBox {
    position: absolute;
    width: 100%;
    background: pink;
    bottom: 25px;
}

/* navbar and footer colors */

.nav-wrapper,
.footer-copyright {
    background-color: mediumorchid;
}
.sidenav {
    background-color: darkorchid;

}

.page-footer {
    background-color: orchid;
}


.parallax img {
    width: 100%;
    filter: brightness(60%)
}

/* nav jumps */
.navjump:before {
    display: block;
    content: "";
    height: 400px;
    margin: -400px 0 0;
}

/* fixes valign problem */
.valign-wrapper {flex-wrap: wrap}


.section {
    background-color: whitesmoke;
    padding-top: 35px;
    padding-bottom: 35px;

}

/* About Me CSS */
#aboutMe{
    padding-left: 30px;
}

#aboutMe h3 {
    font-family: 'Fira Sans', sans-serif;
}

/* fitting the images in the slider */
.slides li img{
    filter: brightness(40%)
}
.slides li img:hover{
    filter: brightness(70%);
    transition: filter 2s ease-out;
}

h5 {
    margin-bottom: 20px;
}

/* media queries */

@media screen and (max-width: 992px) {
    .parallax-container {
        height: 300px;
    }
}

@media screen and (max-width: 600px) {
    .parallax-container {
        height: 200px;
    }
    #helloFont h2{
        font-size: 2em;
    }
    #aboutMe h3 {
        text-align: center;
    }
    #bio-photo{
        height: 200px;
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
